#my-services {
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}

.my-services-title {
    margin-bottom: 60px;
    margin-top: 60px;
}

.my-services-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 120px;
}

@media (max-width: 980px) {
    .my-services-grid-container {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 710px) {
    .my-services-grid-container {
        grid-template-columns: 1fr;
    }
}

