.works-container {
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.works-title {
    margin-top: 60px;
    margin-bottom: 60px;
    color: white;

}

.works-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 20px;
    width: 80%;

}

@media screen and (max-width: 960px) {
    .works-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 680px) {
    .works-grid {
        grid-template-columns:  1fr;
    }
}


