.social-media-icons-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-icon {
    margin: 0 10px;
    font-size: 1.5em;

}
.social-media-icon:hover {
    cursor: pointer;
}
.social-media-icon a {
    color: white;
}
